body {
    background-color: dimgray;
}
#header {
    overflow: hidden;
    text-align: center;
    color: lightgray;
    background-color: dimgray;
    font-family: 'Montserrat', sans-serif;
    float: center;
}
#nav {
    overflow: hidden;
    background-color: lightgray;
    border: 10px solid dimgray;
    text-align: center;
}
ul{
    list-style-type: none;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}
table {
    text-align: center;
    width: 70%;
    padding: 0;
    margin: 0 auto;
    overflow-wrap: inherit;
}
.projects {
    text-align: center;
    background-color: darkgray;
    color: darkslategray;
}
#title {
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
}
.card {
    background-color: darkgray;
}
.projects2 {
    border: 3px yellow;
    padding: 5px;
}
.caption {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#social {
    background-color: dimgray;
    color: lightgray;
}
#footer {
    text-align: center;
    background-color: dimgray;
    color: light gray;
    font-family: 'Montserrat', sans-serif;
}
a:link {
    color: darkblue;
    text-decoration: none;
}
a:visited {
    color: darkmagenta;
}
a:hover{
    color: blue;
}
a:active {
    color: darkcyan;
}
.gallery {
    border: 1px solid #ccc;
}
.gallery img {
    width: 100%;
}
.desc {
    padding: 15px;
    text-align: center;
}