body {
    background-color: lightblue;
}
header {
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}
#name {
    float: left;
    margin: 10px;
}
#nav {
    margin: 10;
    overflow: hidden;
    background-color: lightblue;
    float: right;
    font-size: 25px;
}
ul{
    margin: 10px;
}
li {
    display: inline-block;
    list-style-type: none;
}
li a {
    color: dimgray;
    display: block;
    background-color: lightblue;
    line-height: 2em;
    padding: 5px 5px;
    text-decoration: none;
    
}
table {
    text-align: center;
    width: 70%;
    padding: 0;
    margin: 0 auto;
    overflow-wrap: inherit;
}
.topprojects {
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
    color: dimgray;
}
.projects {
    text-align: center;
    background-color: whitesmoke;
    color: darkslategray;
}
#title {
    font-family: 'Montserrat', sans-serif;
    padding: 3px;
}
.card {
    background-color: darkgray;
}
.projects2 {
    padding: 5px;
    float: right;
}
#web330 {
    background-color: lightcoral;
    padding: 10px;
}
#portfolioprototype {
    background-color: lightsteelblue;
    padding: 10px;
}
#web230 {
    background-color: darkolivegreen;
    padding: 10px;
}
#biositeprototype {
    background-color: burlywood;
    padding: 10px;
}
#biosite {
    background-color: lightseagreen;
    padding: 10px;
}
#heroku {
    background-color: coral;
    padding: 10px;
}
#rest {
    background-color: burlywood;
    padding: 10px;
}
#restful {
    background-color: darkred;
    padding: 10px;
}
#soap {
    background-color: darkgoldenrod;
    padding: 10px;
}
#json {
    background-color: palevioletred;
    padding: 10px;
}
#soaesb {
    background-color: goldenrod;
    padding: 10px;
}
#micro {
    background-color: lightpink;
    padding: 10px;
}
#techvs {
    background-color: darksalmon;
    padding: 10px;
}
#twopizza {
    background-color: darkcyan;
    padding: 10px;
}
#ci {
    background-color: coral;
    padding: 10px;
}
#pager {
    background-color: green;
    padding: 10px;
}
.caption {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.bottom {
    overflow: hidden;
    text-align: center;
    color: white;
    background-color: dimgray;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}
.homepage {
    text-align: center;
    overflow: hidden;
    padding: 5px;
    color: whitesmoke;
    background-color: lightgray;
}
#pic {
    float: left;
}
#homepagetext {
    text-align: center;
    overflow: hidden;
    padding: 5px;
    color: dimgray;
    background-color: lightgray;
    float: right;
}
#social {
    overflow: hidden;
    background-color: lightblue;
    float: center;
    font-size: 25px;
}
#email {
    text-align: center;
    background-color: lightblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
a:hover{
    color: steelblue;
}
a:active {
    color: darkcyan;
}