.header {
    border: 2px solid gray;
    overflow: hidden;
    text-align: center;
    color: black;
    background-color: lightgray;
}
.header div {
    min-height: 130px;
    padding: 10px;
}
#title {
    border: 2px solid green;
    overflow: hidden;
    text-align: center;
    color: black;
    background-color: lightgray;
    min-height: 100px;
	margin: 10px;
}
.caption {
    text-align: center;
}
.firstcolumn {
    border: 2px solid blue;
}
.secondcolumn {
    border: 2px solid purple;
}
.thirdcolumn {
    border: 2px solid red;
}
